{% extends "base.html" %}
{% block title %}Privacy Settings{% endblock %}
{% block content %}

<style>
.form-check-input:checked {
    background-color: red;
    border-color: pink;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='red'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='pink'/%3e%3c/svg%3e");
}
</style>

<div class="container w-50">
  <div class="row mt-4">
    <p><b>Instructions:</b> For this survey, imagine that you are configuring your privacy settings for a popular social networking application. When you are comfortable with the settings, click Save Settings.</p>
  </div>
  
  <div class="row">
    <div class="text-bg-danger p-3">Configure your privacy settings:</div>
  </div>
  <div class="row">

    <form action="/store" method="post">
      <input type="hidden" name="session" value="{{ session }}">
      <input type="hidden" name="option" value="{{ option }}">
	
      <div class="container">
	  <! -- Profile -->
	  <div class="row mt-3">
	    <div class="col">
	      Profile visibility
	    </div>
	    <div class="col">
	      <div class="form-chec form-switch">
		<input class="form-check-input" type="checkbox" role="switch" name="profile" checked> Visible
	      </div>
	    </div>
	    <div class="row">
	      <div class="col"><small class="text-muted">When your profile is "public" the other visitors to the site can view your profile information.</small></div>
	    </div>
	  </div>
	  
	  <! -- Tagging -->
	  <div class="row mt-4">
	    <div class="col">
	      Tagging by users
	    </div>
	    <div class="col">
	      <div class="form-chec form-switch">
		<input class="form-check-input" type="checkbox" role="switch" name="tagging" checked> Allow
	      </div>
	    </div>
	    <div class="row">
	      <div class="col"><small class="text-muted">When "on" others may tag you in the content that they share with you and others.</small></div>
	    </div>
	  </div>

	  <! -- Location sharing -->
	  <div class="row mt-4">
	    <div class="col">
	      Location sharing
	    </div>
	    <div class="col">
	      <div class="form-chec form-switch">
		<input class="form-check-input btn-warning" type="checkbox" role="switch" name="location" checked> Allow
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col"><small class="text-muted">When "on" your location will only be shared to market ads to your relative area. We do not track your location.</small></div>
	  </div>
      </div>
      <div class="row text-end mt-3">
	<input class="btn btn-danger mb-3" type="submit" value="Save Settings">
      </div>
  </div>
  </form>

</div>
{% endblock %}
